@import url("globals.css");

a:focus {
    outline:0;
}



.underline {
    height: 2px;
    margin: 0;
    width: 34%;
    background: white;
    border: none;
    transition: .3s ease-in-out;
    position: absolute;
    bottom: 0;
}

.one:hover ~ .underline {
    width: 34%;
}

.two:hover ~ .underline {
    margin-left: 34%;
    width: 30%;
}

.three:hover ~ .underline {
    margin-left: 64%;
    width: 36%;
}

/*
*    MAIN HERO LOGO
*/

.logo {
    width: 250px;
    height: 125px;
    border-style: solid;
    border-width: 2px;
}

h2 {
    padding-top: 10px;
}

.hero {
    background: url("../img/hero.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-repeat: no-repeat;
    -moz-background-repeat: no-repeat;
    -o-background-repeat: no-repeat;
    background-repeat: no-repeat;
    -webkit-background-position: center;
    -moz-background-position: center;
    -o-background-position: center;
    background-position: center;
    -webkit-background-attachment: fixed;
    -moz-background-attachment: fixed;
    -o-background-attachment: fixed;
    background-attachment: fixed;

}


/*
*    PERSONAL SECTION
*/

.personal {
    padding: 70px 0;
    background-color: #1B2530;
    /*1D2836*/
    /*11171F*/
    /*151D26*/
    /*1B2530*/
}

.personal-headline {
    margin-top: 50px;
    text-align: center;
}

.personal-photo {
    width: 250px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 10px solid #eee;
}

h3 {
    padding: 40px 0 15px 0;
    color: white;
    text-align: center;
}

.white {
    background-color: white;
}

.outline {
    border: 2px solid #eee;
    background: rgba(0,0,0, 0.25);
}

h4 {
    padding-top: 20px;
    color: #333;
    text-align: center;
}

.personal-ul {
    display: inline-block;
    padding: 20px 50px 20px 50px;
    color: white;
    font-size: 16px;
}

.right {
    float: right;
}

.lead {
    text-align: center;
}

.badge.social {
    background: transparent;
    font-size: 50px;
    height: 80px;
    font-weight: 300;
    width: 80px;
    text-align: center;
    line-height: 75px;
    margin: 0 5px 50px 0;
    padding: 0;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: white;
}

.github:hover {
	background-color:#333;
}

.linkedin:hover {
    background-color: #0088B5;
}

.gmail:hover {
    background-color: #ea4335;
}

.lock {
    max-width: 690px !important;
    margin: 0px auto;
}

/*
*    ABOUT ME
*/

.about-me {
    margin-top: 50px;
}

.about-me-p {
    margin: 25px 0 25px 0;
    text-align: left;
    line-height: 30px;
}


/*
*    MEDIA QUERIES
*/

@media screen and (min-width : 992px) {
    .strengths {
        margin: 0 20% 0 20%;
    }
}

@media screen and (max-width : 991px) {
    .underline {
        display: none;
    }
}

@media screen and (max-width : 600px) {
    .scrollToTopBtn {
        width: 30px;
        height: 30px;
        right: 2px;
    }
}
@media screen and (max-width : 575px) {
    .badge.social {
        margin: 5px 0 5px 0;
    }
}

@media screen and (max-width : 511px) {
	.right {
        float: none;
    }

    .personal-ul {
        margin: 0;
        padding-bottom: 0;
        padding-top: 0;
    }

    h3 {
        padding: 20px 0 0 0;
    }
}

@media screen and (max-width : 300px) {
    .personal-photo {
        width: 150px;
    }
}

@media screen and (min-width : 150px) {
    .scrollToTopBtn {
        right: 2px;
    }
}
