@import url("globals.css");

a:focus {
    outline:0;
}

.hero {

    min-height: 200px;
}

.navbar-toggler:focus {
    outline-color: white;
}
.underline {
    height: 2px;
    margin: 0;
    background: white;
    border: none;
    transition: .3s ease-in-out;
    position: absolute;
    bottom: 0;
    margin-left: 64%;
    width: 36%;
}

.one:hover ~ .underline {
    margin: 0;
    width: 30%;
}

.two:hover ~ .underline {
    margin-left: 34%;
    width: 30%;
}

/*
*    MAIN HERO LOGO
*/

.logo {
    width: 250px;
    height: 125px;
    display: table;
}

.logo-text {
    display: table-cell;
    vertical-align: middle;
}

/*
*    RESOURCES
*/

.container {
    background-color: #fafafa;
}

#resources {
    padding: 25px 0 25px 0;
}

.lead {
    color: #333;
    margin: 20px 0 30px 0;
    text-align: center;
}

.resource {
    width: 48%;
    float: left;
    margin: 5px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.image-resource {
    width: 100%;
    max-width: 80%;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}

.unsplash {
    filter: invert(100);
}

.resource h3 {
    margin: 20px 0 10px 0;
}

.bootstrap {
    width: 90px;
}

.button-bottom {
    margin-top: auto;
}

p, h3 {
    color: #333;
}

p {
    text-align: left;
}

h4 {
    padding-top: 20px;
    color: #333;
    text-align: center;
}

h3.loadingio {
    margin-top: 55px;
}

/*
*    MEDIA QUERIES
*/

@media screen and (min-width : 1200px) {
    .resource {
        min-height: 250px;
    }
}

@media screen and (min-width : 991px) and (max-width: 1199px) {
    .resource {
        min-height: 200px;
    }
}

@media screen and (max-width : 991px) {
    .resource {
        min-height: 200px;
    }

    .scrollToTopBtn {
        right: 2px;
    }

    .hero {
        min-height: 250px;
    }

    .underline {
        height: 0;
    }
}

@media screen and (max-width : 767px) {
    .resource {
        width: 100%;
        min-height: 0;
    }
}

@media screen and (max-width : 677px) {
    .scrollToTopBtn {
        right: 0px;
    }
}

@media screen and (max-width : 600px) {
    .scrollToTopBtn {
        width: 30px;
        height: 30px;
        right: 2px;
    }
}

@media screen and (max-width : 575px) {
    footer {
        position: absolute;
        bottom: auto;
    }
}
